@import url("main.css");

/*---------------------------------------------- PANTALLAS DE ESCRITORIO ------------------------------------------------------ */
header {
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(8px);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.625rem 3.125rem; /* 10px y 50px*/
  .logo {
    font-family: var(--logo-font);
    font-size: 2.1875rem; /* 35px*/
    color: var(--link-color);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  .navbar {
    ul {
      list-style: none;
      display: flex;
      flex-direction: row;
      gap: 1.25rem; /* 20px*/
    }
    a {
      text-decoration: none;
      font-size: 1.25rem; /* 20px*/
      color: var(--link-color);
      font-weight: bold;
      transition: color 0.3s ease;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    }
    a:hover {
      color: var(--secondary-color);
    }
  }
}

#hero {
  background-image: url("../img/hero.jpg");
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 40.625rem; /* 650px*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--link-color);
  text-align: center;
  padding-top: 6.25rem; /* 100px*/
  h2 {
    font-size: 4rem;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  }
  p {
    font-size: 1.5rem;
    margin-top: 1.25rem; /* 20px*/
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
  }
}

#features {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto; /* Usar auto para que la altura dependa del contenido */
  gap: 0;
  .feature-block {
    display: contents;
    .feature-description {
      background-color: var(--secondary-color);
      color: var(--text-color);
      border-radius: var(--radius);
      box-shadow: var(--shadow);
      padding: 2.5rem 2rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      h3 {
        font-size: 1.7rem;
        margin-bottom: 1rem;
      }
    }
    .feature-image {
      height: 100%;
      width: 100%;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
      }
    }
  }
}

#testimonials {
  background: var(--secondary-color);
  color: var(--text-color);
  padding: 3.75rem 0 5rem 0; /* 60px y 80px*/
  text-align: center;
  .testimonials-title {
    letter-spacing: 4px;
    color: var(--primary-color);
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 5rem;
  }
  .testimonials-container {
    display: flex;
    justify-content: center;
    gap: 2.5rem; /* 40px*/
    flex-wrap: wrap;
    .testimonial {
      background: transparent;
      max-width: 21.875rem; /* 350px*/
      margin: 0 0.625rem; /* 10px*/
      display: flex;
      flex-direction: column;
      align-items: center;
      .testimonial-img {
        width: 6.25rem; /* 100px*/
        height: 6.25rem;
        border-radius: 50%;
        object-fit: cover;
        margin-bottom: 1.75rem; /* 28px*/
      }
      .testimonial-text {
        color: var(--text-color);
        font-size: 1.15rem;
        margin-bottom: 2rem; /* 32px*/
        line-height: 1.5;
        font-weight: 500;
      }
      .testimonial-author {
        .name {
          display: block;
          font-weight: bold;
          font-size: 1.1rem;
          margin-bottom: 0.25rem; /* 4px*/
          color: #222;
        }
        .role {
          color: #343030;
          font-size: 0.95rem;
          font-weight: 700;
        }
      }
    }
  }
}

#gallery {
  padding: 0;
  .gallery-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    img {
      width: 100%;
      height: 20rem; /* 320px*/
      object-fit: cover;
      display: block;
      transition: transform 0.3s ease, filter 0.3s ease;
      cursor: pointer;
    }
    img:hover {
      transform: scale(1.05);
      filter: brightness(1.2);
      z-index: 10;
    }
  }
}

#footer {
  background: var(--primary-color);
  color: var(--link-color);
  padding: 3.75rem 0 2.5rem 0; /* 60px y 40px*/
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem; /* 32px*/
  text-align: center;
  .footer-logo {
    color: var(--link-color);
    font-size: 2.5rem;
    font-weight: bold;
    letter-spacing: 1px;
    font-family: var(--logo-font);
  }
  .footer-info {
    p {
      margin: 0.3125rem 0; /* 5px*/
      font-size: 1rem;
    }
  }
  .footer-nav {
    display: flex;
    gap: 2.5rem; /* 40px*/
    flex-wrap: wrap;
    justify-content: center;
    a {
      color: var(--link-color);
      text-decoration: none;
      font-size: 1.2rem;
      font-weight: 500;
      transition: color 0.2s;
    }
    a:hover {
      color: var(--secondary-color);
    }
  }
  .footer-social {
    display: flex;
    gap: 1.5rem; /* 24px  */
    img {
      width: 1.75rem; /* 28px */
      height: 1.75rem;
      filter: brightness(0) invert(1);
      transition: transform 0.2s;
    }
    a:hover img {
      transform: scale(1.2);
      filter: sepia(24%);
    }
  }
  .footer-copyright {
    margin-top: 1.25rem; /* 20px */
    font-size: 0.9rem;
    color: rgba(255, 255, 255, 0.7);
  }
}

/* ------------------------------------ MEDIA QUERIES -----------------------------------------*/
/* PANTALLAS MEDIANAS */
@media (max-width: 900px) {
  header {
    padding: 0.5rem 1.25rem;
    .logo {
      font-size: 1.75rem;
    }
    .navbar {
      ul {
        gap: 0.75rem;
        a {
          font-size: 1.125rem;
        }
      }
    }
  }

  #hero {
    height: 25rem;
    padding-top: 5rem;
    h2 {
      font-size: 2.5rem;
    }
    p {
      font-size: 1.1rem;
    }
  }

  #features {
    grid-template-columns: 1fr;
    row-gap: 2.5rem;
    .feature-image,
    .feature-description {
      height: auto;
    }
    .feature-image img {
      height: 18.75rem;
    }
  }

  .testimonials-container {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  #gallery {
    .gallery-grid {
      grid-template-columns: repeat(2, 1fr);
      img {
        height: 11.25rem;
      }
    }
  }

  #footer {
    .footer-nav {
      gap: 1.125rem;
    }
    .footer-social {
      gap: 0.875rem;
    }
    .footer-logo {
      font-size: 1.5rem;
    }
  }
}

/* PANTALLAS PEQUEÑAS */
@media (max-width: 600px) {
  header {
    flex-direction: column;
    padding: 0.3125rem;
    align-items: center;
    text-align: center;
    gap: 0.3125rem;

    .logo {
      font-size: 1.25rem;
    }
    .navbar {
      ul {
        flex-direction: column;
        align-items: center;
        gap: 0.3125rem;
        padding-left: 0;

        a {
          font-size: 0.875rem;
        }
      }
    }
  }

  #hero {
    height: 18.75rem;
    padding-top: 9.375rem;

    h2 {
      font-size: 1.8rem;
    }
    p {
      font-size: 0.9rem;
    }
  }

  #features {
    .feature-description,
    .feature-image {
      height: auto;
    }
    .feature-image img {
      height: 12.5rem;
    }
  }

  #gallery {
    .gallery-grid {
      grid-template-columns: 1fr;
      img {
        height: 8.75rem;
      }
    }
  }

  #footer {
    padding: 2rem 1rem;
    gap: 1rem;

    .footer-nav {
      flex-direction: column;
    }
  }
}
